.nav {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    justify-content: baseline;
    margin: 0;
    gap: 5px;
}

.nav__item {
    text-align: center;
    text-transform: uppercase;
}

.nav__link {
    color: rgb(208, 201, 168);
    padding: 15px;
    width: 140px;
    height: 120px;
    background-color: rgba(109, 77, 8, 0.726);
    font-weight: 800;
    border: 5px solid rgba(109, 77, 8, 0.555);
    border-radius: 5px;
    box-shadow: 29px 14px 90px 2px rgba(109, 77, 8, 0.555);
    font-size: 20px;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav__link:hover {
    background-color: rgba(161, 130, 61, 0.555);
}

.addition {
    color: rgb(198, 192, 189);
}

@media (max-width: 767px) {
    .nav__link {
        font-size: 10px;
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 4000px) {
    .nav__link {
        font-size: 75px;
        padding: 25px;
    }
}