html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

/* every single element with its margins, paddings etc. will now be treated as a whole box for specifications like width, high etc.*/

.container {
    margin: 0 auto;
    padding: 0 10%;
    max-width: 4000px;
    color: #000000;
    background-color: rgb(208, 201, 168);
    font: 18px/2 'Oswald', sans-serif;
    background-image: url("https://i.postimg.cc/R049bhH9/pexels-expect-best-323705-blacknwhite.jpg");
    background-repeat: space repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    object-fit: cover;
}

.dark {
    color: rgb(208, 201, 168);
    background-image: url("https://i.postimg.cc/T33H2N4z/pexels-expect-best-323705-fliped-colors.jpg");
    max-width: 4000px;
    background-size: 100%;
}

.header {
    font-size: 30px;
    text-align: center;
    width: 800;
    color: rgb(189, 151, 80);
    text-shadow: 2px 3px 3px #888;
    background-color: rgba(1, 1, 1, 0.801);
}

.subHeader {
    width: 100%;
    text-shadow: 5px #888;
}

.addition {
    color: rgb(198, 192, 189);
}

.element {
    display: block;
    width: 100%;
    max-width: 4000px;
    border: 8px solid rgba(114, 48, 4, 0.226);
    box-shadow: 29px 14px 90px 2px rgba(109, 77, 8, 0.555);
    margin: 0 auto;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
}

.list__item {
    border: 8px solid rgba(114, 48, 4, 0.226);
    background-color: rgba(109, 77, 8, 0.247);
    flex: 1 1 auto;
    margin: 10px 10px;
    box-shadow: 10px 10px 10px 2px rgba(109, 77, 8, 0.233);
}

@media (max-width: 767px) {
    .element {
        width: 100%;
        border: 4px solid rgba(114, 48, 4, 0.226);
    }

    .container {
        font: 15px/2 'Oswald', sans-serif;
        background-size: 300%;
        width: 100%;
        padding: 0 5%;
    }

    .list__item {
        border: 4px solid rgba(114, 48, 4, 0.226);
    }

    .dark {
        background-size: 300%;
    }
}

@media (max-width: 3000px) {
    .container {
        background-size: 300%;
    }
    .dark {
        background-size: 300%;
    }
}

@media (min-width: 4000px) {
    .container {
        font-size: 75px;
    }

    .list__item {
        padding: 75px;
    }
}